

.component {
	position: relative;
	margin-bottom: 3em;
	height: 9em;
	/* background: rgba(0,0,0,0.05); */
	font-family: 'Lato', Arial, sans-serif;
	color: #B0B0B0;
	
}

.component > h2 {
	position: absolute;
	overflow: hidden;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 300;
	font-style: italic;
	font-size: 12em;
	color: #E0E0E0;
	cursor: default;
}
@media only screen and (max-device-width: 480px) {
	.component {
		position: relative;
		margin-bottom: 3em;
		height: 4em;
		/* background: rgba(0,0,0,0.05); */
		font-family: 'Lato', Arial, sans-serif;
		color: #E0E0E0;
	}
	
	.component > h2 {
		position: absolute;
		overflow: hidden;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
		font-weight: 300;
		font-style: italic;
		font-size: 4em;
		color: #E0E0E0;
		cursor: default;
	}
}
