<section fxLayout="column" fxLayoutAlign="center left">
    <h1>Site explanation</h1>
    <p>Jay has recently been updating his skills to include .dotnet core, Angular and Typescript. He has undertaken the following courses </p>

    <ul>
        <li>
            <a href="https://www.udemy.com/angular-full-app-with-angular-material-angularfire-ngrx/" target="_blank">Angular (Full App) with Angular Material, Angularfire & NgRx</a>
        </li>
        <li>
            <a href="https://www.udemy.com/angular-increasing-your-productivity-in-visual-studio/learn/lecture/11570842#overview" target="_blank">Welcome to Angular: Increasing Your Productivity in Visual Studio</a>
        </li>
        <li>
            <a href="https://www.udemy.com/css-the-complete-guide-incl-flexbox-grid-sass/learn/lecture/9654220#overview" target="_blank">CSS - The Complete Guide (incl. Flexbox, Grid & Sass)</a>
        </li>
    </ul>


    This site is built using
    <ul>
        <li>CSS3</li>
        <li>Angular</li>
        <li>Type Script</li>
        <li>Angular Material</li>
    </ul>
    Although Jay is new to these technologies his scope of learning has been broad and his skill set is increasing all the time.

    <section fxLayout="row" fxLayoutAlign="left center">
        <ul fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
            <li fxLayout="row"> <img [src]=" 'assets/images/html5.png' " class="tech-image"></li>
            <li fxLayout="row"> <img [src]=" 'assets/images/css3.png' " class="tech-image"></li>
            <li fxLayout="row"> <img [src]=" 'assets/images/angular.png' " class="tech-image"></li>
        </ul>

    </section>
</section>