<section>
    <h1>Open Source current projects</h1>
    <p> Jay has a number of older projects which can be found at his git hub account <a href="https://github.com/JayConnerGhost">Git hub Account.</a></p>
    <section>The two projects he is currently working on :
        <ul fxLayout="column" fxLayoutAlign="left left" fxLayoutGap="10px">
            <li>
                <a href="https://irontext.home.blog/" target="_blank"><img [src]=" 'assets/images/multiple-editors.png' " class="tech-image"></a>
                <span> Iron Text is a MDI Text Editor, written in winforms </span>
            </li>
            <li>
                <a href="https://ironcards.home.blog" target="_blank"> <img [src]=" 'assets/images/mdi-showing-notes-attachment-and-mutiple-projects-layout.png' " class="tech-image"></a>
                <span> IronCards is a Card Wall , written in winforms </span>
            </li>
        </ul>

    </section>
</section>