<section fxLayout="column" fxLayoutAlign="center left">
    <h1>Jay Martin</h1>
    <p>
        Jay has worked in IT Development for over 15 years, he has recently taken a career break and is now back available for Hire. Jays skills span the Agile, project management, Web , Winforms and API. Jay is dedicated to producing high quality on target functional
        software. Jay invests money and time in personal training and is always striving to broaden his skill set. Jay is the author of a number of Open source packages and maintains an active git hub repository.
    </p>
    <ul fxLayout="column" fxLayoutAlign="left left" fxLayoutGap="10px">
        <li> <img [src]=" 'assets/images/c-logo-icon-28402.png' " class="tech-image"><span>C# is Jay's principal language and is his preference for any new projects.</span>
        </li>
        <li> <img [src]=" 'assets/images/Visual_Studio.png' " class="tech-image"> <span>Visual Studio and visual Studio Code are Jays preferred IDE and Editor.</span>
        </li>
        <li> <img [src]=" 'assets/images/objectorientedprogramming.png' " class="tech-image"><span> OOP and OOD are jay's methodologies of choice.</span>
        </li>
        <li> <img [src]=" 'assets/images/TDD-diagram_02.png' " class="tech-image"> <span>Test Driven Development is synonymous with high quality on target development, as such Jay practices them when appropriate.</span>
        </li>
    </ul>
</section>